<div class="container">
	<div class="row">
		<h1> DEMOS ANGULAR </h1>
	</div>
	<hr>
	<div class="row">
		<div class="col">
			<h2>Example ngStyle</h2>
			<app-ng-style></app-ng-style>
		</div>
		<p>
			Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
		</p>
	</div>
	<div class="row">
		<div class="col">
			<h2>Example ngClass</h2>
			<app-class></app-class>	
		</div>
	</div>
	<div class="row">
		<div class="col" style="margin: 2rem 0">
			<h2>Example custom directive</h2>
			<span class="p-3" [appHighlitght]="'#25CFF2'"> !!! Hello directive </span>
		</div>
	</div>
	<div class="row" style="margin-top: 3rem">
		<div class="col">
			<h2>Example ngSwitch</h2>
			<app-ngswitch></app-ngswitch>
		</div>
	</div>
</div>
